# Unified .gitignore for all services

## Service utility directories
logs/
data/

## Config files
### Ignore all config files, but keep defaults
*/config/*.yml
!*/config/default.*.yml

## Python Stuff
__pycache__/
*.pyc

## Venvs
venv/
.venv/
_venv/

## OS stuff
__MACOSX/
.DS_Store
Thumbs.db
*:Zone.Identifier